 
BODY { background-color: WHITE }
H1 { color: BLACK;
     background-color: CYAN;
     text-align: center;
     font-size: 36px;
     font-family: Arial Black, Arial, Helvetica, sans-serif
}
H2 { color: BLACK;
     text-align: center;
     font-size: 24px;
     font-family: Arial, Helvetica, sans-serif
}
TH.COLORED { background-color: CYAN }
A:hover { color: red }
 

ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
}
